@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700);

* {
  margin: 0;
  padding: 0;
}

#textHeader{
  display: flex;
  justify-content: center;
  height: 190px;
  align-items: center;
  color:white

}
#inputForm{
  outline: none;
}
#buttonForm:hover{
  cursor: grab;
}
#Form{
  background-color: white;
  
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #0066ff 0%, #ff66ff 100%);
  
}
header{
  background: linear-gradient(to right, #0066ff 0%, #ff66ff 100%);
}
.card-img{
  height: 210px;
  width: 190px;
}
.card-city{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.card-discription{
  display: flex;
  justify-content: center;
}
.card{
  width: 115px;
  background-color: white;
  box-shadow: 0px 4px 15px 2px #0010ff40;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card-weather{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-before{
  position: absolute;
  content: "";
  width: 315px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 4px 15px 4px #0066ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  


}
.card-value{
  height: 86px;
  font-size: 600;
}
.card-city , .card-weather , .card-value{
  display: 100%;
}
.card-discription{

}















